
earray/earray_syntax
earray/earray_syntax.opt
earray/doc

earray_test/test_runner
earray_test/test_runner.opt
earray_test/*.out

src/crossbow
src/crossbow.opt
src/doc

test/array_to_earray_syntax
test/array_to_earray_syntax.opt
test/test_runner
test/test_runner.opt

/coverage

scripts/run_crossbow
scripts/run_crossbow.opt
scripts/run_paradox
scripts/run_paradox.opt
scripts/run_mace4
scripts/run_mace4.opt
scripts/run_iprover
scripts/run_iprover.opt
scripts/results_to_latex
scripts/results_to_latex.opt
scripts/summary_to_latex
scripts/summary_to_latex.opt
scripts/check_crossbow_models_with_paradox
scripts/check_crossbow_models_with_paradox.opt

# OCaml
*.cmi
*.cmo
*.cma
*.cmx
*.cmxa

# OCaml, C, C++
*.o
*.a

# OMake
.omakedb
.omakedb.lock
OMakefile.omc
OMakeroot.omc

# oUnit
*.log
oUnit-*.cache

# Bisect
/bisect*.out
*.cmp

# Backup files
*.*~
