
src/crossbow
src/crossbow.opt
src/doc

test/test_runner
test/test_runner.opt

# OCaml
*.cmi
*.cmo
*.cma
*.cmx
*.cmxa

# OCaml, C, C++
*.o
*.a

# OMake
.omakedb
.omakedb.lock
OMakefile.omc
OMakeroot.omc

# Backup files
*.*~
